{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">

        {% with messages = get_flashed_messages() %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <span aria-hidden="True"></span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <divc class="card card-body">
            <form action="/add_user" method="POST">
                <div class="form-group">
                    <input type="text" name="Nombre_completo" placeholder="Nombre Completo" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" name="Rut" placeholder="Rut sin punto ni guion" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="Correo" placeholder="Correo" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Save
                    </button> 
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-10 pt-6>
        <dir class="card card-body">
            <table class="table table-striped table-bordered bg-white table-sm">
                <thead>
                    <tr>
                        <td>Nombre Completo</td>
                        <td>Rut</td>
                        <td>Correo</td>
                        <td>Operacion</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in asistencia %}
                    <tr>
                        <td>{{ user.1 }}</td>
                        <td>{{ user.2 }}</td>
                        <td>{{ user.3 }}</td>
                        <td>
                            <a href="/edit_user/{{ user.0 }}" class="btn btn-secondary">Editar</a>
                            <a href="/delete_user/{{ user.0 }}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </dir>
    </div>
<div>

  

{% endblock %}