<!DOCTYPE html>
<html>
<head>
    <title>Asistencia Ulagos - {{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagenes/logo.png') }}" type="image/x-icon">
</head>
<body>
    <h1>Asistencia Ulagos</h1>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="http://localhost:5000">Principal</a></li>
                <li><a href="http://localhost:5000/contacto">Contacto</a></li>
                <li><a href="http://localhost:5000/sobre_nosotros">Sobre nosotros</a></li>
                <li><a href="http://localhost:5000/sala/1">Mi sala</a></li>
            </ul>
        </nav>
    </header>


    <br> <br>

    
        
    <img src="/static/imagenes/p.png" alt="logo Ulagos" width="1000" height="350" >
            
    <br> <br>
   
        
    <main>
        <div>
                
        <article class="info">
            <span>Estimados estudiantes</span>
            <br>
            "Para el acceso a asistencia Ulagos es necesario tener la cuenta de correo ULAGOS."
        </article>
        </div>

        </div>
        
    </main>
    <br> <br>





</body>


<footer>
    <p>&copy; Universidad de los Lagos - Todos los derechos reservados</p>
</footer>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D78D4" fill-opacity="1" d="M0,160L60,170.7C120,181,240,203,360,202.7C480,203,600,181,720,154.7C840,128,960,96,1080,112C1200,128,1320,192,1380,224L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
</html>
