<!DOCTYPE html>
<html>
<head>
    <title>Asistencia Ulagos- {{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='imagenes/logo.png') }}" type="image/x-icon">
</head>
<body>  
    <h1>Asistencia</h1>
    <header>
        <nav>
            <ul class="menu">
                <li><a href="http://localhost:5000">Principal</a></li>
                <li><a href="http://localhost:5000/contacto">Contacto</a></li>
                <li><a href="http://localhost:5000/sobre_nosotros">Sobre nosotros</a></li>
                <li><a href="http://localhost:5000/sala/1">Mi sala</a></li>

            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <main>
        <article> 
            <h2>Historia de la Universidad de Los Lagos</h2>
            
                <p>Origen y trayectoria institucional
            La Universidad de Los Lagos es una institución estatal y regional fundada en agosto de 1993. Entre 1981 y 1993 fue uno de los cuatro Institutos Profesionales Estatales y, antes de ello, sede de la Universidad de Chile y de la Universidad Técnica del Estado. Su tránsito de Instituto Profesional a su actual estatus de Universidad, obedece al desarrollo de un proyecto universitario presentado al Gobierno y al Congreso Nacional, etapa que contó con una amplia participación de la comunidad universitaria y el apoyo de diversos actores de la región. Este proceso concluyó con la creación de la Universidad de Los Lagos en agosto de 1993.

            La trayectoria histórica de la Universidad se remonta a la década de los años 60, y deriva de sus instituciones antecesoras a través de los siguientes hitos claves:
                </p>
                <img src="/static/imagenes/trayectoria.png" alt="Ulagos" width="900" height="250" >
        </article>
    </main>   











</body>

<footer>
    <p>&copy; Universidad de los Lagos - Todos los derechos reservados</p>

</footer>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D78D4" fill-opacity="1" d="M0,160L60,170.7C120,181,240,203,360,202.7C480,203,600,181,720,154.7C840,128,960,96,1080,112C1200,128,1320,192,1380,224L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

</html>